<h1>Edit List for <%= @list.title %></h1>
<p><%= @error %></p>
<form action="/lists/<%=@list.id%>" method="post">
  <input type="hidden" name="_method" value="patch"
  <label>Title</label>
  <input type="text" name="list[title]" value="<%= @list.title %>">
  <label>Notes</label>
  <textarea name="list[notes]"><%= @list.notes %></textarea>
  <button type="submit">Edit List</button>
</form>
