<h1>Edit List: <%= @list.title %></h1>
<p><%= @error %></p>
<form action="/lists/<%=@list.id%>" method="post">
  <input type="hidden" name="_method" value="patch"
  <label>Title</label>
  <input type="text" name="list[title]" value="<%= @list.title %>">
  <br>
  <br>
  <br>
  <label>Notes</label>
  <textarea name="list[notes]"><%= @list.notes %></textarea>
  <br>
  <br>
  <br>
  <label>Destination</label>
  <textarea name="list[destination]"><%= @list.destination %></textarea>
  <br>
  <br>
  <br>
  <label>Image URL</label>
  <textarea name="list[image]"><%= @list.image %></textarea>
  <br>  
  <br>
  <div><button type="submit">Update</button></div>
  <br>
  <a href="/lists">Cancel</a>
</form>


