<h1>Travel Lists</h1>
<a href="/lists/new">Create a List</a>
<br>
<br>
<% @lists.each do |list| %>
    <h2><a href="/lists/<%= list.id %>"><%= list.title %></a></h2>
    <h4>Notes: <%= list.notes %></h4>
    <div>
    <h4>Destinations: <%= list.destination %></h4>
    </div>
    <div>
    <img src="<%= list.image %>" >
    </div>
    <% if current_user == list.user %>
        <a href="/lists/<%= list.id %>/edit">Edit</a>
    <% end %>   
    
<% end %>    




