<h1><%= @list.title %></h1>
<h3>Notes</h3>
<p><%= @list.notes %></p>
<br>
<h3>Destinations</h3>
<%= @list.destination %>
<br>
<br>
<h3>Images</h3>
<img src="<%= @list.image %>" >


<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <% if @list.user == current_user %> 
    <button type="submit">Delete List</button>
  <% end %>  
</form>